body {
  background-color: rgb(0, 0, 0);
  color: white;
  /* background-blend-mode: darken; */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed;  */
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
}